@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/******** Variables ********/
:root {
  --clr-light: #ffffff;
  --clr-base-pomo: #77a4e9;
  --clr-base-short: #eaa478;
  --clr-base-long: #88b9ae;
  --clr-accent-pomo: #032e77c9;
  --clr-accent-short: #923201;
  --clr-accent-long: #01795f;
  --clr-circle-pomo: #0084ff;
  --clr-circle-short: #ff7300;
  --clr-circle-long: #03e6b4;
  --clr-dark: #424242;
  --clr-gray: #a8a8a8;
  --clr-faded-black: rgba(0,0,0,0.4);

  --ff-timer: 'Helvetica Neue', sans-serif; 
  --ff-primary: 'Raleway', sans-serif;
  --ff-secondary: 'Roboto', sans-serif;

  --fs-timer-large: 160px;
  --fs-timer-small: 100px;
  --fs-title-large: 60px;
  --fs-title-medium: 40px;
  --fs-title-small: 30px;
  --fs-mode-button-large: 30px;
  --fs-mode-button-small: 20px;
  --fs-instructions-large: 20px;
  --fs-instructions-small: 10px;
  --fs-instructions-title-large: 30px;
  --fs-instructions-title-small: 15px;
  --fs-counter-large: 20px;
  --fs-counter-medium: 16px;
  --fs-counter-small: 12px;
  --fs-footer: 15px;

  --fw-bold: 700;
  
  --transition-time: 1s;
}

/******** General Styles ********/
body {
  background-color: var(--clr-base-pomo);
  font-family: var(--ff-secondary);
  color: var(--clr-dark);
  display: flexbox;
  transition-property: background-color;
  transition-duration: var(--transition-time);
}
body[state="pomo"] {
  background-color: var(--clr-base-pomo);
}
body[state="short"] {
  background-color: var(--clr-base-short);
}
body[state="long"] {
  background-color: var(--clr-base-long);
}
b {
  font-weight: var(--fw-bold);
}

/******** Title ********/
h1 {
  font-family: var(--ff-primary);
  font-size: var(--fs-title-small);
  margin: auto;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media(min-width: 400px) {
  h1 {font-size: var(--fs-title-medium);}
}
@media(min-width: 755px) {
  h1 {font-size: var(--fs-title-large);}
}

/******** Counter ********/
#counter-container {
  font-size: var(--fs-counter-small);
  color: var(--clr-light);
  height: auto;
  width: 23vw;
  max-width: 230px;
  min-width: 150px;
  position: absolute;
  right: -25px;
  top: 10px;
  text-align: center;
}
@media (min-width: 500px) {
  #counter-container {
    right: 0px;
    font-size: var(--fs-counter-small);
  }
}
@media (min-width: 755px) {
  #counter-container {
    right: 3%;
    font-size: var(--fs-counter-medium);
  }
}
@media (min-width: 980px) {
  #counter-container {
    right: 7%;
    font-size: var(--fs-counter-large);
  }
}
#counter-container > img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
#streak-counter, #total-counter {
  position: absolute;
  top: 34%;
  left: 17%;
  width: 65%;
}
#total-counter {
  top: 48%;
}

/******** break reminders ********/
#break-reminder, #reminder {
  display : block;
  position: relative;
  text-align: center;
  padding-top: 10px;
}
#reminder {
  padding-top: 0px;
}

/******** State, progress bar, timer ********/
.container {
  width: 100%;
  margin-bottom: 50px;
}
h2 {
  text-align: center;
}
/******** Progress Bar ********/
.circle {
  background-color: var(--clr-light);
  border-radius: 50%;
  border: 3px solid;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content:center;
  box-shadow: 3px 3px var(--clr-dark);
}
.circle.pomo {
  border-color: var(--clr-circle-pomo);
}
.circle.short {
  border-color: var(--clr-circle-short);
}
.circle.long {
  border-color: var(--clr-circle-long);
}
.circle.deactive {
  border-color: var(--clr-gray);
}
.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 80%;
  min-width: 370px;
  max-width: 520px;
  /* border: 3px solid black; */
}

/******** Timer ********/
/**** Mode ****/
#state {
  font-size: var(--fs-mode-button-small);
  text-align: center;
  width: 100%;
  margin: auto;
  /* border: 3px solid black; */
}
@media (min-width: 755px) {
  #state {
    font-size: var(--fs-mode-button-large);
  }
}
#timer-display {
  font-family: var(--ff-timer);
  font-size: var(--fs-timer-small);
  color: var(--clr-light);
  text-align: center;
  border: 10px solid var(--clr-accent-pomo);
  border-radius: 30px;
  text-shadow: 4px 5px var(--clr-dark);
  width: 70vw;
  min-width: 320px;
  max-width: 550px;
  margin: auto;
  transition-property: border-color;
  transition-duration: var(--transition-time);
  /* border: 3px solid black; */
}
@media (min-width: 544px) {
  #timer-display {
    font-size: var(--fs-timer-small);
  }
}
@media (min-width: 768px) {
  #timer-display {
    font-size: var(--fs-timer-large);
  }
}
#timer-display[state="pomo"] {
  border-color: var(--clr-accent-pomo);
}
#timer-display[state="short"] {
  border-color: var(--clr-accent-short);
}
#timer-display[state="long"] {
  border-color: var(--clr-accent-long);
}

/******** Buttons ********/
button {
  margin: auto;
  font-size: var(--fs-mode-button-small);
  color: var(--clr-dark);
  border-radius: 10px;
  border: none;
  box-shadow: 2px 3px 2px 2px var(--clr-dark);
  position: absolute;
}
@media (min-width: 755px) {
  #startButton, #resetButton {
    font-size: var(--fs-mode-button-large);
    border-radius: 15px;
  }
}
#startButton, #resetButton {
  min-width: 120px;
  max-width: 170px;
  width: 16vw;
  min-height: 40px;
  max-height: 60px;
  height: 10vw;
}
#startButton { 
  right: 52%;
}
#resetButton {
  left: 52%;
}
#button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  height: 100px;
  width: 100%;
}

/******** Instructions ********/
button.help-button { 
  position: absolute;
  left: 8%;
  top: 5%;
  margin: auto;
  min-width: 40px;
  max-width: 50px;
  width: 7vw;
  min-height: 40px;
  max-height: 50px;
  height: 7vw;
  font-size: var(--fs-mode-button-small);
  border-radius: 10px;
  border: none;
  box-shadow: 2px 3px 2px 2px var(--clr-dark);
}
@media (min-width: 500px) {
  button.help-button { 
    left: 5%;
    top: 10%;
    font-size: var(--fs-mode-button-large);
    border-radius: 12px;
  }
}
@media (min-width: 700px) {
  button.help-button { 
    border-radius: 15px;
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: var(--clr-faded-black);
}
.modal-content {
  background-color: var(--clr-light);
  font-family: var(--ff-secondary);
  font-size: 20px;
  text-align: center;
  padding: 20px;
  margin: auto;
  border: var(--clr-dark) 10px solid;
  border-radius: 15px;
  height: 70%;
  width: 80%;
  overflow-y: auto;
}
.modal-content > h3 {
    font-size: var(--fs-instructions-title-small);
}
@media (min-width: 700px) {
  .modal-content{
    font-size: var(--fs-instructions-large);
  }
  .modal-content > h3 {
    font-size: var(--fs-instructions-title-large);
}
}
#closeModal {
  float: left;
  font-size: 50px;
}

/******** Settings ********/
  button.settings { 
    position: absolute;
    left: 8%;
    top: 12%;
    margin: auto;
    min-width: 40px;
    max-width: 50px;
    width: 7vw;
    min-height: 40px;
    max-height: 50px;
    height: 7vw;
    font-family: var(--ff-secondary);
    font-size: var(--fs-mode-button-small);
    border-radius: 10px;
    border: none;
    box-shadow: 2px 3px 2px 2px var(--clr-dark);
  }
  @media (min-width: 500px) {
    button.settings { 
      font-size: var(--fs-mode-button-large);
      border-radius: 12px;
      left: 15%;
      top: 10%;
    }
  }
  @media (min-width: 700px) {
    button.settings { 
      border-radius: 15px;
    }
  }
#cog { 
  position: relative;
  margin-left: -5px;
  margin-top: -7px;
  min-width: 40px;
  max-width: 50px;
  width: 7vw;
  min-height: 40px;
  max-height: 50px;
  height: 7vw;
  border-radius: 15px;
  border: none;
}
@media (min-width: 650px) {
  #cog { 
    margin-top: 0px;
  }
}
.settingsModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--clr-faded-black);
}
.settings-content {
  background-color: var(--clr-light);
  font-size: var(--fs-instructions-large);
  text-align: center;
  padding: 20px;
  margin: auto;
  border: var(--clr-dark) 10px solid;
  border-radius: 15px;
  width: 30%;
  min-width: 300px;
  max-width: 450px;
}

form {
  padding-top: 15px;
}
#formEnabler {
  border: 0;
}
select {
  width: 50px;
  height: 30px;
  font-size: 20px;
  margin-bottom: 10px;;
}
#closeSettings {
  float: left;
  font-size: 40px;
}

/******** Switches ********/
[type="checkbox"] {
  position: absolute;
  left: -9999px;
}
.switches {
  max-width: 500px;
  width: 95%;
  margin: 50px auto 0;
  list-style: none;
}
.switches li::before {
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  font-size: 2rem;
  font-weight: bold;
  color: var(--pink);
}
@media screen and (max-width: 600px) {
  .switches li::before {
    display: none;
  }
}
.switches label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.switches span:last-child {
  position: relative;
  width: 60px;
  height: 34px;
  border-radius: 34px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
  background: var(--gray);
  transition: all 0.3s;
}
.switches span:last-child::before,
.switches span:last-child::after {
  content: "";
  position: absolute;
}
.switches span:last-child::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}
.switches span:last-child::after {
  top: 50%;
  right: 8px;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  /*background: url(uncheck-switcher.svg);*/
  background-size: 12px 12px;
}
.switches [type="checkbox"]:checked + label span:last-child {
  background-color: #2196F3;
}
.switches [type="checkbox"]:checked + label span:last-child::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.switches [type="checkbox"]:checked + label span:last-child::after {
  width: 14px;
  height: 14px;
  left: 8px;
  /*background-image: url(checkmark-switcher.svg);*/
  background-size: 14px 14px;
}

/******** Footer ********/
footer {
  font-size: var(--fs-footer);
  width: 100%;
  height: 60px;
  position: relative;
  right: 10px;
  top: 20px;
}
footer > p {
  float: right;
  margin-right: 10px;
  padding-top: 10px;
}
footer > img {
  width: 50px;
  float: right;
  border-radius: 10px;
}