@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/******** Variables ********/
:root {

  /* Refactor Option */
  --primary-color: #77a4e9;
  /* --secondary-color:  #FFFFFF;
  --primary-font: 'Helvetica Neue', sans-serif; 
  --secondary-font: 'Raleway', sans-serif; */

  --clr-light: #ffffff;
  --clr-accent-pomo: #032e77;
  --clr-accent-short: #923201;
  --clr-accent-long: #01795f;
  --clr-circle-pomo: #0084ff;

  --clr-circle-short: #ff7300;
  --clr-circle-long: #03e6b4;
  --clr-dark: #424242;
  --clr-gray: #a8a8a8;
  --clr-faded-black: rgba(0,0,0,0.4);

  --ff-timer: 'Helvetica Neue', sans-serif; 
  --ff-primary: 'Raleway', sans-serif;
  --ff-secondary: 'Roboto', sans-serif;

  --fs-timer-large: 160px;
  --fs-timer-small: 100px;
  --fs-title-large: 60px;
  --fs-title-medium: 40px;
  --fs-title-small: 30px;
  --fs-mode-button-large: 30px;
  --fs-mode-button-small: 20px;
  --fs-instructions-large: 20px;
  --fs-instructions-small: 10px;
  --fs-instructions-title-large: 30px;
  --fs-instructions-title-small: 15px;
  --fs-counter-large: 20px;
  --fs-counter-medium: 16px;
  --fs-counter-small: 12px;
  --fs-footer: 15px;

  --fw-bold: 700;
  
  --transition-time: 1s;
}

/******** GLOBALS ********/
/* Text */
h1, h2, h3 {
  font-family: var(--ff-primary);
  font-size: var(--fs-title-small);
  margin: auto;
} 
a{
  color: #FFFFFF;
}
a:hover{
  color: #DDDDDD;
  text-decoration-color: #DDDDDD;
}
b {
  font-weight: var(--fw-bold);
}


/* Body */
body {
  font-family: var(--ff-secondary);
  color: var(--clr-dark);
  transition-property: background-color;
  transition-duration: var(--transition-time);
}
body[state="pomo"] {
  background-color: var(--primary-color);
}
body[state="short"] {
  background-color: #eaa478;
}
body[state="long"] {
  background-color: #88b9ae;
}

/* REFACTOR OPTION: Classes for different state? */
/* .pomo{
  background-color: var(--primary-color);
}
.short{
  background-color: #eaa478;
}
.long{
  background-color: #88b9ae;
} */

/* Interaction */
button {
  margin: auto;
  font-size: var(--fs-mode-button-small);
  color: var(--clr-dark);
  border-radius: 10px;
  border: none;
  position: absolute;
}

form {
  padding-top: 15px;
}
select {
  width: 50px;
  height: 30px;
  font-size: 20px;
  margin-bottom: 10px;;
}

/* Footer */
footer {
  font-size: var(--fs-footer);
  text-align: center;
}



/******** Counter ********/
#counter-container {
  font-size: var(--fs-counter-small);
  color: var(--clr-light);
  height: auto;
  width: 23vw;
  max-width: 250px;
  min-width: 160px;
  position: absolute;
  right: -15px;
  top: 10px;
  text-align: center;
}

#counter-container > img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
#streak-counter, #total-counter {
  position: absolute;
  top: 34%;
  left: 17%;
  width: 65%;
}
#total-counter {
  top: 48%;
}

/******** break reminders ********/
#break-reminder, #reminder {
  display : block;
  position: relative;
  text-align: center;
  padding-top: 10px;
}
#reminder {
  padding-top: 0px;
  padding-bottom: 30px;
}

/******** State, progress bar, timer ********/
.container {
  width: 100%;
  margin-bottom: 50px;
}

/******** Progress Bar ********/
.circle {
  background-color: var(--clr-light);
  border-radius: 50%;
  border: 3px solid;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content:center;
  
}
.circle.pomo {
  border-color: var(--clr-circle-pomo);
}
.circle.short {
  border-color: var(--clr-circle-short);
}
.circle.long {
  border-color: var(--clr-circle-long);
}
.circle.deactive {
  border-color: var(--clr-gray);
}
.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 80%;
  min-width: 370px;
  max-width: 520px;
}

/******** Timer ********/
/**** Mode ****/
#state, #timer-display {
  text-align: center;
  margin: auto;
}
#state {
  font-size: var(--fs-mode-button-small);
  width: 100%;
}

#timer-display {
  font-family: var(--ff-timer);
  font-size: var(--fs-timer-small);
  color: var(--clr-light);
  border: 10px solid var(--clr-accent-pomo);
  border-radius: 30px;
  width: 70vw;
  min-width: 320px;
  max-width: 550px;
  transition-property: border-color;
  transition-duration: var(--transition-time);
}

#timer-display[state="pomo"] {
  border-color: var(--clr-accent-pomo);
}
#timer-display[state="short"] {
  border-color: var(--clr-accent-short);
}
#timer-display[state="long"] {
  border-color: var(--clr-accent-long);
}

/******** Buttons ********/

#start-button, #reset-button {
  min-width: 120px;
  max-width: 170px;
  width: 16vw;
  min-height: 40px;
  max-height: 60px;
  height: 10vw;
}
#start-button { 
  right: 52%;
}
#reset-button {
  left: 52%;
}
.button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  height: 100px;
  width: 100%;
}
#help-button, #setting-container, #settings-button, #cog {
  min-width: 40px;
  max-width: 60px;
  width: 7vw;
  min-height: 40px;
  max-height: 60px;
  height: 7vw;
}

/******** Help ********/
button.help-button { 
  position: absolute;
  left: 8%;
  top: 5%;
  margin: auto;
  font-size: var(--fs-mode-button-small);
  border-radius: 10px;
  border: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: var(--clr-faded-black);
}
.help-content {
  background-color: var(--clr-light);
  font-family: var(--ff-secondary);
  font-size: 20px;
  text-align: center;
  padding: 20px;
  margin: auto;
  border: var(--clr-dark) 10px solid;
  border-radius: 15px;
  height: 70%;
  width: 80%;
  overflow-y: auto;
}
.help-content > h3 {
    font-size: var(--fs-instructions-title-small);
}

#close-modal {
  float: left;
  font-size: 50px;
}

#help-modal {
  display: none;
}

/******** Settings ********/
button.settings { 
  position: absolute;
  left: 8%;
  top: 12%;
  margin: auto;
  font-family: var(--ff-secondary);
  font-size: var(--fs-mode-button-small);
  border-radius: 10px;
  border: none;
}

#cog { 
  position: relative;
  margin-left: -6px;
  margin-top: -1px;
  border-radius: 15px;
  border: none;
}

.settings-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--clr-faded-black);
}
.settings-content {
  background-color: var(--clr-light);
  font-size: var(--fs-instructions-large);
  text-align: center;
  padding: 20px;
  margin: auto;
  border: var(--clr-dark) 10px solid;
  border-radius: 15px;
  width: 30%;
  min-width: 300px;
  max-width: 450px;
}


#form-enabler {
  border: 0;
}

#close-settings {
  float: left;
  font-size: 40px;
}

/******** Switches ********/
[type="checkbox"] {
  position: absolute;
  left: -9999px;
}
.switches {
  max-width: 500px;
  width: 95%;
  margin: 50px auto 0;
  list-style: none;
}
.switches li::before {
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  font-size: 2rem;
  font-weight: bold;
  color: var(--pink);
}

.switches label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.switches span:last-child {
  position: relative;
  width: 60px;
  height: 34px;
  border-radius: 34px;
  background: var(--gray);
  transition: all 0.3s;
}
.switches span:last-child::before,
.switches span:last-child::after {
  content: "";
  position: absolute;
}
.switches span:last-child::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}
.switches span:last-child::after {
  top: 50%;
  right: 8px;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  /*background: url(uncheck-switcher.svg);*/
  background-size: 12px 12px;
}
.switches [type="checkbox"]:checked + label span:last-child {
  background-color: #2196F3;
}
.switches [type="checkbox"]:checked + label span:last-child::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.switches [type="checkbox"]:checked + label span:last-child::after {
  width: 14px;
  height: 14px;
  left: 8px;
  /*background-image: url(checkmark-switcher.svg);*/
  background-size: 14px 14px;
}
li {
  margin: 5px;
}

/******** Task List ********/
/* * {
    border: 3px solid black;

} */

#current-task-container {
  display: block;
  text-align: center;
  margin: 1em;
  padding: 1em;
}

#tasks-button-container {
}

#tasks-button-container > button {
  position: relative;
  margin-right: 10px;
}

#add-tasks-button {
}

#clear-tasks-button {
}

#clear-completed-tasks-button {
}

#cancel-button {
  margin-left: -80px;
}

#add-task-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  z-index: 100;
}

#add-task-form div{
  margin-top: 10px;
}

.task-label, .task-button {
  text-align: left;
  background-color: white;
  color:black;
  text-decoration: none;
}

.task-button[done="true"] + label {
  text-decoration: line-through;
  color:gray;
}


/******** MEDIA QUERIES ORGANIZED ********/
/** Title **/
@media(min-width: 400px) {
  h1 {font-size: var(--fs-title-medium);}
}
@media(min-width: 755px) {
  h1 {font-size: var(--fs-title-large);}
}

/** Counter **/
@media (min-width: 500px) {
  #counter-container {
    right: 0px;
    font-size: var(--fs-counter-small);
  }
}
@media (min-width: 800px) {
  #counter-container {
    right: 3%;
    font-size: var(--fs-counter-medium);
  }
}
@media (min-width: 980px) {
  #counter-container {
    right: 7%;
    font-size: var(--fs-counter-large);
  }
}

/**  Timer Mode **/
@media (min-width: 755px) {
  #state {
    font-size: var(--fs-mode-button-large);
  }
}

@media (min-width: 768px) {
  #timer-display {
    font-size: var(--fs-timer-large);
  }
}

/** Buttons **/
@media (min-width: 755px) {
  #start-button, #reset-button {
    font-size: var(--fs-mode-button-large);
    border-radius: 15px;
  }
}

/** Help **/
@media (min-width: 500px) {
  button.help-button { 
    left: 5%;
    top: 10%;
    font-size: var(--fs-mode-button-large);
    border-radius: 12px;
  }
}
@media (min-width: 700px) {
  button.help-button { 
    border-radius: 15px;
  }
}
@media (min-width: 700px) {
  .help-content{
    font-size: var(--fs-instructions-large);
  }
  .help-content > h3 {
    font-size: var(--fs-instructions-title-large);
  }
}

/** Button Settings**/
@media (min-width: 500px) {
  button.settings { 
    font-size: var(--fs-mode-button-large);
    border-radius: 12px;
    margin-left: 50px;
    top: 10%;
  }
}
@media (min-width: 700px) {
  button.settings { 
    border-radius: 15px;
  }
}
@media (min-width: 650px) {
  #cog { 
    margin-top: -1px;
  }
}

/** Switches **/
@media screen and (max-width: 600px) {
  .switches li::before {
    display: none;
  }
}


/******** MEDIA QUERIES REFACTORED ********/

/* Mobile: Portrait and Landscape */
@media only screen and (min-width: 320px) and (max-width: 767px){

}
/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 979px){

}
footer > img {
  width: 50px;
  float: right;
  border-radius: 10px;
}



