@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');


/******** Variables ********/
:root {
  /* Refactor Option */
  --primary-color: #77a4e9;

  /* --secondary-color:  #FFFFFF;
  --primary-font: 'Helvetica Neue', sans-serif;
  --secondary-font: 'Raleway', sans-serif; */

  --clr-light: #ffffff;
  --clr-accent-pomo: #032e77;
  --clr-accent-short: #923201;
  --clr-accent-long: #01795f;
  --clr-circle-pomo: #0084ff;

  --clr-circle-short: #ff7300;
  --clr-circle-long: #03e6b4;
  --clr-dark: #424242;
  --clr-gray: #a8a8a8;
  --clr-faded-black: rgba(0,0,0,0.4);

  --ff-timer: 'Helvetica Neue', sans-serif; 
  --ff-primary: 'Raleway', sans-serif;
  --ff-secondary: 'Roboto', sans-serif;

  --fs-timer-large: 160px;
  --fs-timer-small: 100px;
  --fs-title-large: 60px;
  --fs-title-medium: 40px;
  --fs-title-small: 30px;
  --fs-mode-button-large: 30px;
  --fs-mode-button-small: 20px;
  --fs-instructions-large: 20px;
  --fs-instructions-small: 10px;
  --fs-instructions-title-large: 30px;
  --fs-instructions-title-small: 15px;
  --fs-counter-large: 20px;
  --fs-counter-medium: 16px;
  --fs-counter-small: 12px;
  --fs-footer: 15px;

  --fw-bold: 700;
  
  --transition-time: 1s;
}

/******** GLOBALS ********/

/* Body */
body {
  color: var(--clr-dark);
  transition: background 1s;
}

body[data-state="pomo"] {
  /* background: #fff; */
  background: var(--primary-color);
}

body[data-state="short"] {
  background-color: #eaa478;
}

body[data-state="long"] {
  background-color: #88b9ae;
}


/* Header Main Footer Layout */
header {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  width: 50%;
  margin: 0 auto;
}

footer {
  font-size: var(--fs-footer);
  text-align: center;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font: 400 48px 'Roboto', sans-serif;
  color: #323232;
}

p,
a,
li {
  font-family: 'Helvetica', sans-serif;
}

/* Interaction */
button {
  background: none;
  border: 2px solid #323232;
  border-radius: 5px;
  transition: background 0.5s;
}

button:hover {
  background: rgba(50, 50, 50, 0.2);
}

button:active {
  background: rgba(50, 50, 50, 0.4);
}


/******** HELP AND SETTINGS ********/
#options-btn-container {
  display: flex;
}


/******** BREAK REMINDERS ********/
#break-reminder, #reminder {
  display : block;
  position: relative;
  text-align: center;
  padding-top: 10px;
}

#reminder {
  padding-top: 0px;
  padding-bottom: 30px;
}

/******** PROGRESS BAR ********/
.circle {
  background-color: var(--clr-light);
  border-radius: 50%;
  border: 3px solid;
  height: 20px;
  width: 20px;
}

.circle.pomo {
  border-color: var(--clr-circle-pomo);
}

.circle.short {
  border-color: var(--clr-circle-short);
}

.circle.long {
  border-color: var(--clr-circle-long);
}

.circle.deactive {
  border-color: var(--clr-gray);
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 80%;
}

/******** TIMER ********/
#state, #timer-display {
  text-align: center;
  margin: auto;
}

#state {
  font-size: var(--fs-mode-button-small);
  width: 100%;
}

.timer {
  background: #fff;
  border-radius: 5px;
  border: 2px solid #323232;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  padding: 24px 12px;
}

.timer * {
  font: 16px 'Helvetica Neue', sans-serif;
  color: #424242;
  padding: 24px 16px;
}

.timer span,
.timer p {
  padding: 0;
}

.timer p {
  margin: 6px;
}

#timer-display {
  width: 100%;
  font-size: 96px;
  padding: 0;
}

#timer-display[data-state="pomo"] {
  border-color: var(--clr-accent-pomo);
}

#timer-display[data-state="short"] {
  border-color: var(--clr-accent-short);
}

#timer-display[data-state="long"] {
  border-color: var(--clr-accent-long);
}

/******** START AND STOP BUTTON ********/
#start-reset {
  display: flex;
  justify-content: center;
}

#start-reset button {
  margin: 24px 12px;
  padding: 6px 24px;
  font-size: 16px;
}

/* SETTINGS MODAL */
fieldset {
  border:none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

fieldset label {
  width: 80%;
  margin: 5px 0;
}

fieldset select {
  border: 0;
  padding: 12px;
  background: #efefef;
}


/******** CURRENT TASK ********/
.current-task * {
  text-align: center;
}

/******** TASK LIST ********/
.tasks {
  width: 60%;
  height: 40vh;
  margin: 0 auto;
  padding: 24px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  transition: opacity 1s, height 1s, padding 1s;
  overflow: hidden;
  background: var(--primary-color);
  transition: background 1s;
}

.tasks[data-state="pomo"] {
  /* background: #fff; */
  background: var(--primary-color);
}

.tasks[data-state="short"] {
  background-color: #eaa478;
}

.tasks[data-state="long"] {
  background-color: #88b9ae;
}

.counting {
  height: 0;
  padding: 0 24px;
  opacity: 0;
}

.tasks h2 {
  text-align: start;
}

.task-options button {
  position: static;
  float: right;
  background: none;
  box-shadow: none;
  border: 2px solid #323232;
  border-radius: 5px;
  margin: 0 5px;
}

.tasks hr {
  width: 100%;
  border: 0;
  border-bottom: 6px solid #323232;
  margin: 0;
}

#task-list {
  list-style: none;
  padding: 0;
  width: 100%;
  height: 50%;
  overflow: auto;
}

.task {
  padding: 10px 5px;
  margin: 5px 0;
  background: #efefef;
  border: none;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;
}

.task p {
  font-family: 'Helvetica', sans-serif;
  width: 90%;
  display: inline-block;
  margin: 0;
}

.task label {
  background: none;
}

.task button {
  float: right;
}

.task-button[done="true"] + label {
  text-decoration: line-through;
  color:gray;
}

#options-btn-container button {
  border-radius: 5px;
  margin: 0 6px;
  padding: 6px 24px;
  font-size: 24px;
}

/********** MODALS *************/

/* Help Modal  */
#help-modal,
#settings-modal {
  width: 50%;
  height: 80%;
  border: none;
  padding: 24px 5%;
}

#help-modal h3 {
  font-size: 24px;
}

.close-modal-btn {
  margin: 0;
  padding: 0;
  float: right;
  font-size: 24px;
  transition: color 0.5s;
}

.close-modal-btn:hover {
  color: red;
  cursor: pointer;
}

#form-enabler span {
  padding-top: 15px;
}

#notif-reminder {
  color: #eb5353;
  text-align: center;
}

/* #current-mix{
  
} */

/******** Switches ********/
[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.switches {
  max-width: 500px;
  width: 95%;
  margin: 50px auto 0;
  list-style: none;
}

.switches li::before {
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  font-size: 2rem;
  font-weight: bold;
  color: var(--pink);
}

.switches label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.switches span:last-child {
  position: relative;
  width: 60px;
  height: 34px;
  border-radius: 34px;
  background: var(--gray);
  transition: all 0.3s;
}
.switches span:last-child::before,
.switches span:last-child::after {
  content: "";
  position: absolute;
}
.switches span:last-child::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}
.switches span:last-child::after {
  top: 50%;
  right: 8px;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  /*background: url(uncheck-switcher.svg);*/
  background-size: 12px 12px;
}
.switches [type="checkbox"]:checked + label span:last-child {
  background-color: #2196F3;
}
.switches [type="checkbox"]:checked + label span:last-child::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.switches [type="checkbox"]:checked + label span:last-child::after {
  width: 14px;
  height: 14px;
  left: 8px;
  /*background-image: url(checkmark-switcher.svg);*/
  background-size: 14px 14px;
}
li {
  margin: 5px;
}


.hidden {
  display: none;
}

#add-task-form div{
  margin-top: 10px;
}



@media screen and (min-width: 500px) {

  .switches li::before {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  button.help-button, button.settings { 
    border-radius: 15px;
  }
}

/* @media (min-width: 980px) {
  
} */


/******** MEDIA QUERIES ********/

/* Mobile: Portrait and Landscape */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  header {
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
  }

  main {
    width: 80%;
  }

  
  /******** PROGRESS BAR ********/
  .progress-container {
    justify-content: space-around;
  }

  .progress-container div {
    width: 10px;
    height: 10px;
  }

  /******** TIMER ********/
  #timer-display {
    font-size: 64px;
  }

  /******** TASK LIST ********/
  .tasks {
    width: 100%;
    padding: 0;
    height: 25vh;
  }

  .tasks h2 {
    margin: 6px 0;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 979px) {
  header {
    width: 80%;
  }

  main {
    width: 80%;
  }
}
